.main-app-status-container {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  height: 100%; /* Takes full height of .application-status__form-container (600px when form is shown) */
  overflow-y: auto; /* Enable scrolling within this height */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for Chrome, Edge, Safari */
.main-app-status-container::-webkit-scrollbar {
  display: none;
}

.main-back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.main-layout-wrapper {
  display: flex;
  flex-direction: row; /* Explicitly set to row */
  justify-content: space-between; /* Distributes space between StatusSelector and ProgressHeader */
  align-items: center; /* Vertically centers the items */
  margin-bottom: 20px;
  flex-wrap: nowrap; /* Prevents wrapping to ensure they stay in a single row */
  width: 100%; /* Ensures the wrapper takes full width */
}

.main-form-wrapper {
  border: 2px solid #DDE2E4;
  border-radius: 10px;
  background: #fafafa;
  margin-top: 20px;
  height: 100%; /* Takes full height of .app-status-container */
  overflow-y: auto; /* Enable scrolling within form-wrapper */
}

.main-application-form {
  /* No specific styles, as children have their own */
}

.main-coupon-wrapper {
  margin-bottom: 20px;
}

.main-payment-info-form {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}