.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-bar {
  display: flex;
  gap: -10px;
}

.status-icon {
  display: flex;
  align-items: center;
}

.status-line {
  max-width: 63px;
  margin-top: 4px;
}

.status-icon svg {
  width: 20px;
  height: 20px;
}

.status-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.label-container {
  flex: 1;
  text-align: center;
}

.label-sale {
  font-size: 14px;
  color: #FF2525;
}

.label-confirm {
  font-size: 14px;
  color: #FF2525;
}

.sold {
  color: #3425FF;
}

.confirmed {
  color: #3425FF;
}